
@font-face {
  font-family: 'Signatura Monoline Script';
  src: url('../fonts/Signatura_Monoline.ttf');
  font-weight: 400;
}

/*
 * Designed (from scratch) by...
 * Webdesk Studio - A creative web-development agency
 * Website: https://webdesk.studio | Email: hello@webdesk.studio
 * Let's build something great together!
 */

/* Basic Reset */
  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

html, body {
  height: 100%;
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* Common Styles */

*, *:before, *:after {
  box-sizing: border-box
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {background: #f5f5f5;}

audio, canvas, iframe, img, svg, video {
  max-width: 100%;
  vertical-align: middle
}

hr {
  width: 50%;
  border: 0;
  margin: 0 auto;
  height: 1px;
  border-top: 1px dashed;
}


/* Typography */

body, input, select, textarea {
  font: 400 16px/1.618 'Open Sans', sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1;
  vertical-align: baseline;
  word-spacing: normal;
  margin: 0 0 0.67em 0;
}

h1 {font-size: 3.375rem}
h2 {font-size: 3rem}
h3 {font-size: 2.1875rem}
h4 {font-size: 1.875rem}
h5 {font-size: 1.25em}
h6 {font-size: 1rem}

@media screen and (max-width: 768px) {
  h1 {font-size: 2.8125rem}
  h2 {font-size: 2.5rem}
  h3 {font-size: 1.75rem}
  h4 {font-size: 1.5rem}
}

@media screen and (max-width: 425px) {
  h1 {font-size: 2.25rem}
  h2 {font-size: 2rem}
}

p {
  font-size: 16px;
  line-height: 1.618;
  margin: 0 0 5vh 0;
}

@media screen and (max-width: 768px) {
  p {font-size: 16px}
}

a {
  text-decoration: none;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

.big {
  font-size: 140%
}

small {
  font-size: 80%
}

.hindi {
  font-family: 'Eczar', serif;
  line-height: 1.618;
}

h1.hindi, h2.hindi, h3.hindi, h4.hindi, h5.hindi, h6.hindi {
  font-weight: 400;
}

.mark {
  color: #ff7f00;
}

.dull {
  opacity: 0.3;
}

.subtitle {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: inline-block;
  margin-bottom: 1rem;
  opacity: 0.7;
}

/* Blockquotes */

blockquote {
  margin: 1.5rem 0;
  padding: 1.5rem;
  position: relative;
}

blockquote p {
  padding: 0;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.618;
  margin: 0 0 0.5rem 0;
}

blockquote cite {
  float: right;
  display: block;
  font-size: 14px;
  font-style: normal;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote::after {
  content: '';
  display: table;
  clear: both;
}

/* Reusable styles */

.margin--0 {margin: 0;}
.hidden {display: none}
.list {padding: 0 3rem}
ul.list {list-style-type: disc}
ol.list {list-style-type: decimal}
.list p {margin: 0}
.list li {margin: 0 0 0.5rem 0}
.list li:last-of-type {margin: 0}

/* Clearfix */
.clear::before, .clearfix::after {
  content: ""; display: block
}

.clear::after {
  clear: both
}

.container {
  width: 90%;
  max-width: 960px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  /*border: 1px dashed rgba(0,0,0,0.2)*/
}

/* To add top margin to the elements that appear just after header */
.clear-top {margin-top: 7rem}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 7rem;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1)
  transition: all 0.3s ease-in;
}

.home.header-container {
  top: -100%;
  transition: all 0.3s ease-in;
}

#header {
  display: grid;
  grid-template-columns: 220px 1fr 180px;
  grid-gap: 3vw;
  align-items: center;
}

.logo {
  line-height: 1;
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-gap: 2vh;
  align-items: center;
}

.logo img {width: 82px}
.logo .title {
  color: #000 !important;
  font-family: 'Signatura Monoline Script', sans-serif;
  margin: 8px 0 0 0;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 0.875;
}

.logo .title span {
  display: block;
  font-family: sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.logo .title + p {
  margin: 0;
  font-size: 10px;
  line-height: 1;
}

#nav {

}

.nav-items li {
  float: left;
  display: inline-block;
}

.nav-item {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  line-height: 7rem;
  height: 7rem;
  display: inline-block;
  padding: 0 1rem;
}

.nav-item:hover {background: rgba(255,127,0, 0.5)}
.nav-item.active {
  font-weight: 700;
  background: #ff7f00;
  color: #fff
}

/* Nav Trigger - Navicon */

#nav-trigger {
  display: none;
  position: fixed;
  right: 5%;
  width: 3rem;
  margin: 0.5rem 0 0 0;
  text-align: center;
  cursor: pointer;
  background: #fff;
}

#nav-trigger::after {
  content: "MENU";
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 1;
}

.navicon {width: 2rem; margin: 0 auto}


.bar {
  width: 2rem;
  height: 2px;
  margin-bottom: 8px;
  background: #000;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out
}

.bar1 {margin-top: 9px}
.bar3 {margin-bottom: 0}

.change .navicon {transform: translateX(-8px)}
.change .bar2 {opacity: 0}
.change .bar1 {transform: rotate(-45deg) translateY(0.875rem)}
.change .bar3 {transform: rotate(45deg) translateY(-0.875rem)}

#header .button {
  width: auto;
  height: auto;
  margin: 0;
  line-height: 1;
  padding: 1rem;
}
#header .button small {font-size: 10px;}

.header-container.shrinked {height: 6rem}
.header-container.shrinked .nav-item {
  height: 6rem;
  line-height: 6rem
}

.header-container, .logo, .nav-item {
  transition: all 0.3s ease-in;
}

/*
 * Responsive Header
 * @media rule for 1024px
 */
 @media screen and (max-width: 1024px) {
  #header {grid-template-columns: 220px 1fr}
  #header .button {display: none}
}

/*
 * Responsive Header
 * @media rule for 768px
 */
 @media screen and (max-width: 768px) {

  #nav-trigger {display: inline-block}

  #nav {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 480px;
    overflow-y: scroll;
    background: #fff;
  }

  .nav-items {
    position: relative;
    top: 50%;
    width: 90%;
    margin: 0 auto;
    text-align: right;
    transform: translateY(-40%);
  }

  #nav .nav-items li {float: none; display: block}

  .nav-item {
    font-size: 1.75rem;
    text-decoration: none;
    line-height: 1.4;
    height: auto;
    display: inline-block;
  }

  .nav-item.active {
    color: #ff7f00;
    background: none;
  }
}

main {
  width: 80%;
  max-width: 960px;
  height: inherit;
  margin: 0 auto;
  padding: 7rem 0;
  position: relative;
}

article {
  max-width: 768px;
  margin: 0 auto;
}

article p {font-size: 18px;}

.section-header {
  max-width: 568px;
  margin: 0 0 5rem 0;
}

/*********************************************
****************** Home Page *****************
*********************************************/

.banner {
  width: 100%;
  height: 120vh;
  min-height: 480px;
  position: relative;
  background: #333 url('../images/kids.jpg') center top;
  background-blend-mode: overlay;
  background-size: cover
}

.banner-content {
  width: 640px;
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
  line-height: 1;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-60%);
}

.banner-content--inner {
  display: grid;
  grid-template-columns: 256px 364px;
  grid-gap: 20px;
  align-items: center;
}

.banner .img {
  width: 256px;
  height: 256px;
  background: #fff;
  border: 2px solid #fff;
  border-left: .5px;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.3);
}

.banner .title {
  margin: 0 0 0 -1rem;
  font-family: 'Signatura Monoline Script', sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.banner .title + span {
  display: block;
  font-family: sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1.68rem;
}

.banner p {
  font-size: 15px;
  margin: 0.5rem 0 0 0;
}

@media screen and (max-width: 768px) {
  .banner-content {width: 256px;}
  .banner-content--inner {
    grid-template-columns: 100%;
  }
  .banner .img {
    width: 156px;
    display: none;
  }
  .banner .title {
    font-size: 8rem;
  }
  .banner .title + span  {
    font-size: 12px;
    letter-spacing: 1.125rem;
  }
}

/*
 * Home -
 * Styling elements
 */

.intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vh;
}

@media screen and (max-width: 1024px) {
  .intro {grid-template-columns: repeat(1, 1fr)}
}

.intro > * {padding: 3vw; background: #fff;}
.intro .our-mission .list {margin: 0 0 0 1rem; padding: 0}
.intro .latest-events ul li {margin-bottom: .5rem}

.events--home {
  margin: 2vh 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2vh;
}

.event--home:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

@media screen and (max-width: 768px) {
  .events--home {grid-template-columns: repeat(1, 1fr)}
  .event--home:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.event--home {position: relative;}
.events--home .event-name {
  position: absolute;
  bottom: 2vh;
  left: 2vh;
  color: #fff;
}

.events--home .event-name .subtitle {margin: 0}

.donation {
  padding: 3vw;
  text-align: center;
  background: #fff;
}


.donation .title {
  line-height: 1.3;
}

/* About --Page */

.introduction, .mission {
  padding: 5vw;
  margin: 0 0 5rem 0;
  background: #fff;
}

.mission .list p {
  font-size: 1.5rem;
}

/* Team */

.team {
  padding: 5vw;
  background: #fff;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vh;
}

.team img {
  width: 256px;
  position: relative;
}

.team-card {
  text-align: center;
}

.team-card .title {margin: 0;}
.team-card .title + span {font-size: 13px}

.team-card-info {
  padding: 1.5rem;
  background: url('../images/brush.jpg') no-repeat center center;
  background-size: cover;
}

/* Card */

.card {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-gap: 5vh;
  position: relative;
}

.card-media img {width: 100%}

.name-card {
  padding: 1.5rem;
  text-align: center;
  line-height: 1;
  background: url('../images/brush.jpg') no-repeat center center;
  background-size: 130%;
}

.name-card .title {margin: 0}
.name-card .card-designation {
  font-size: 14px;
}

.card-info {
  padding: 1.5rem 0;
}

/* Event */

.all-events {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 3vh;
  -webkit-column-gap: 3vh;
  column-gap: 3vh;
}

.all-events .event {
  max-width: 100%;
  display: inline-block;
  margin-bottom: 3vh;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 4px 6px 12px rgba(0,0,0,0.1);
}

.event-head {padding: 5vh;background: url('../images/brush.jpg') center center;
  background-size: cover
}
.event-head .title {margin: 0; line-height: 1}
.event-media {position: relative; width: 100%}
.event-details {padding: 5vh}

@media screen and (max-width: 768px) {
  .all-events {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
  }

  .all-events .event {margin: 0 0 5rem 0}
}

/* Layout */

#primary-content {
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "sidebar content";
  background: #fff;
}

#content {
  padding: 8rem 0;
  grid-area: content;
}

#sidebar {
  width: 320px;
  padding: 8rem 0;
  grid-area: sidebar;
}

@media screen and (max-width: 768px) {
  #primary-content {
    grid-template-columns: 100%;
    grid-template-areas: "sidebar" "content";
  }
  #sidebar {position: relative; padding: 0; opacity: 0.5;}
}

#sidebar .quicklinks.list {padding: 1.5rem}

#sidebar a {
  margin: 0 0 1rem 0
  line-height: 1;
  font-size: 17px;
  color: #000;
  font-weight: 700
}

#sidebar li a.active,
#sidebar li a:hover,
#sidebar li a:active {
  color: #ff7f00;
}

#content {
  overflow: hidden
}

/* Footer */

.footer-container {
  background: #0b3ba7;
}

footer {
  padding: 5rem 0;
  color: #fff;
  display: grid;
  grid-template-columns: 380px 1fr 1fr;
  grid-gap: 5vw;
}

.footer-nav-item {
  color: #fff;
  line-height: 1.618;
  height: auto;
  display: block;
}
footer .nav-item:hover {color: #ff7f00}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: repeat(1, 100%);
  }
}

.footer-bottom {
  padding: 0 0 5rem 0;
  text-align: center;
  color: #fff;
}

.footer-bottom a {color: #fff}

footer .social-icons a {
  color: #000;
}

footer .social-icons li {
  display: inline-block;
  margin: 0 0 0 2vw;
}

footer ion-icon {
  color: #fff;
  font-size: 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #0b3ba7 20%, #ff7f00 80%);
  opacity: 0.7;
  /*background: linear-gradient(45deg, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.3) 80%);*/
}

.overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  opacity: 0.8;
  background: linear-gradient(45deg, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.3) 80%);
}

.overlay-dark:hover {
  background: linear-gradient(45deg, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0.5) 80%);
}

.overlay_light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7) 20%, rgba(0,0,0,0.2) 80%);
}

/* Forms */

form {
  max-width: 500px;
  margin: 0 auto;
}

fieldset {
  position: relative;
  margin-bottom: .5em;
}

input, textarea {
  display: block;
  width: 100%;
  height: 3em;
  padding: 1.5em 0;
  font-size: 1.25em;
  appearance: none;
  background: inherit;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

input[type="submit"] {
  display: inline-block;
  height: 4.5rem;
  line-height: 1;
  font-size: 1rem;
  padding: 0 !important;
  margin: 0;
}

textarea {
  min-height: 3.5em;
}

textarea:focus, textarea[data-empty="false"] {
  height: auto;
  border: 1px solid
}

label {
  position: absolute;
  top: 1.5rem;
  left: 0;
  color: #777;
  font-size: 14px;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

input[data-empty="false"], input:valid, input:focus,
textarea[data-empty="false"], textarea:valid, textarea:focus {
  padding: 22px 0 10px;
}

input[data-empty="false"] + label, input:valid + label, input:focus + label,
textarea[data-empty="false"] + label, textarea:focus + label {
  color: #5856d6;
  font-weight: 700;
  font-size: 12px;
  transform: translate3d(0,-1.5rem,0);
}

.donate-form {
  display: grid;
  grid-template-columns: 1fr 210px;
  align-items: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .donate-form {
    grid-template-columns: repeat(1, 1fr)
  }

  .donate-form .button {margin-top: 3rem}
}

.donate-form fieldset {margin: 0}

/* Buttons */

.button {
  display: inline-block;
  min-width: 156px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  padding: 0 3rem;
  margin: 2vh 0 0 0;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  background: #000;
  background: linear-gradient(45deg, #0b3ba7 20%, #ff7f00 80%);
  background-size: 100% 100%;
  border-radius: 43.5px;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-size: 150% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/*
 * Color Pallete
 * Blue (Dark)  - #0b3ba7
 * Blue (Light) - #145ce6
 * Orange       - #fd9704
 */

 /*contact*/

#contact {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3vh;
}

.contact-details {
  padding: 3rem;
  border: solid 5px navy;
}

.contact-details h4 {
  font-size: 2rem;
}

.contact-details ul li {
  line-height: 30px;
  margin-top: 10px;
}
.contact-details i  {
  font-size: 20px;
}
.contact-details a  {
  max-width: 200px;
  font-size: 20px;
  line-height: none;
  color: #000;
}

@media screen and (max-width: 768px) { 
 #contact {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3vh;
 }

}
